<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>IPython Examples</title>
  <meta name="author" content="Min RK">
  <link rel="stylesheet" href="{{static_url("jquery/css/themes/base/jquery-ui.min.css") }}" type="text/css" />
  <link rel="stylesheet" href="{{static_url("bootstrap/css/bootstrap.min.css")}}" media="screen">
  <link rel="stylesheet" href="{{static_url("bootstrap/css/bootstrap-responsive.min.css")}}">
  <link rel="stylesheet" href="{{ static_url("css/style.css") }}">
</head>
<body>
  <div class="navbar navbar-static-top">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li><a href="/bessel">Bessel Functions</a></li>
          <li><a href="/singlecell">Single Cell</a></li>
        </ul>
        <ul class="nav pull-right">
          <li><a href="#" id="restart">Restart</a></li>
          <li><a href="#" id="interrupt">Interrupt</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row" id="head">
      <div class="span12">
        <h1 class="logo_header">
          Non-notebook IPython webapp examples
        </h1>
        <h3><span class="subheader">Click one of the links in the upper-left to try a demo</span></h3>
      </div>
    </div>
  </div>
  
</body>
</html>
