<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Single Cell Server</title>
  <meta name="author" content="Min RK">
  <link rel="stylesheet" href="{{static_url("ipython/css/style.min.css") }}" type="text/css"/>
  <link rel="stylesheet" href="{{static_url("bootstrap/css/bootstrap.min.css")}}" media="screen">
  <link rel="stylesheet" href="{{static_url("bootstrap/css/bootstrap-responsive.min.css")}}">
  
  <link rel="stylesheet" href="{{ static_url("codemirror/lib/codemirror.css") }}">
  <link rel="stylesheet" href="{{ static_url("ipython/css/codemirror-ipython.css") }}">
  
  <link rel="stylesheet" href="{{ static_url("css/style.css") }}">
  
</head>
<body>
  <div class="navbar navbar-static-top">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li><a href="/bessel">Bessel Functions</a></li>
          <li><a href="/singlecell">Single Cell</a></li>
        </ul>
        <ul class="nav pull-right">
          <li><a href="#" id="restart">Restart</a></li>
          <li><a href="#" id="interrupt">Interrupt</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row" id="head">
      <div class="span12">
        <h1 class="logo_header">
          Single Cell Server
        </h1>
        <h3>Just an IPython code cell (no notebook)</h3>
        <h4>run some code!</h3>
      </div>
    </div>
    <div class="row">
      <div class="span10 offset1">
        <div id="thecell"></div>
      </div>
    </div>
  </div>
  
<script src="{{ static_url("codemirror/lib/codemirror.js") }}" charset="utf-8"></script>
<script src="{{ static_url("codemirror/lib/util/loadmode.js") }}" charset="utf-8"></script>
<script src="{{ static_url("codemirror/lib/util/multiplex.js") }}" charset="utf-8"></script>
<script src="{{ static_url("codemirror/mode/python/python.js") }}" charset="utf-8"></script>
<script src="{{ static_url("jquery/js/jquery-1.7.2.min.js") }}" charset="utf-8"></script>
<script src="{{ static_url("jquery/js/jquery-ui.min.js") }}" charset="utf-8"></script>

<!-- IPython basics -->
<script src="{{static_url("ipython/js/namespace.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("ipython/js/utils.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("ipython/js/events.js") }}" type="text/javascript" charset="utf-8"></script>
<!-- IPython Kernel -->
<script src="{{ static_url("ipython/js/kernel.js") }}" type="text/javascript" charset="utf-8"></script>

<!-- Cell and OutputArea -->
<script src="{{ static_url("ipython/js/outputarea.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("ipython/js/cell.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("ipython/js/codecell.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("ipython/js/config.js") }}" type="text/javascript" charset="utf-8"></script>

<!-- these are required by CodeCell, but really shouldn't be -->
<script src="{{ static_url("ipython/js/completer.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("ipython/js/tooltip.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("ipython/js/celltoolbar.js") }}" type="text/javascript" charset="utf-8"></script>

<!-- Our own js, for setting up our single-cell server -->
<script src="{{ static_url("js/singlecell.js") }}" type="text/javascript" charset="utf-8"></script>
</body>
</html>
